@tailwind base;
@tailwind components;
@tailwind utilities;

@import './quill.css';

@layer base {
  input[value='']::-webkit-datetime-edit {
    @apply text-gray-400;
  }
  input[value='']::-webkit-calendar-picker-indicator {
    @apply opacity-40;
  }
  article > main > p {
    @apply dark:text-neutral-400;
  }
  article > main > p > strong {
    @apply dark:text-neutral-50;
  }
}

input:focus-visible {
  box-shadow: none !important;
}

@layer components {
  #toolbar {
    @apply sticky top-0 z-10 flex w-screen gap-2 overflow-x-scroll duration-150 scrollbar-hide sm:w-auto sm:flex-wrap;
  }
  #toolbar ul {
    @apply flex;
  }
  #toolbar button {
    @apply p-2;
  }
  #toolbar svg {
    @apply h-6 w-6 fill-neutral-700 dark:fill-neutral-200;
  }
  .tag {
    @apply cursor-default rounded-xl bg-neutral-200 py-0.5 px-2 text-sm text-neutral-500 dark:bg-neutral-800 dark:text-neutral-300;
  }
  .tw-table th,
  .tw-table td {
    @apply border dark:border-neutral-700;
  }
  .tw-table tr {
    @apply border-b last:border-b-0;
  }
  .tw-table th:first-child input[type='checkbox'],
  .tw-table td:first-child input[type='checkbox'] {
    @apply h-5 w-5 cursor-pointer align-middle disabled:cursor-not-allowed;
  }
  .tw-table-lg th,
  .tw-table-lg td {
    @apply px-6 py-3;
  }
  .tw-table-md th,
  .tw-table-md td {
    @apply px-4 py-2;
  }
  .tw-table-sm th,
  .tw-table-sm td {
    @apply px-2 py-1;
  }
  .tw-table-xs th,
  .tw-table-xs td {
    @apply px-1 py-0.5;
  }
  .ripple {
    @apply absolute scale-0 animate-ripple rounded-full bg-white/30;
  }
}

/* AutoComplete */
input::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.steps {
  margin-left: 1rem;
  padding-left: 1.5rem;
  counter-reset: step;
  border-left: 1px solid;
  border-color: rgb(229 231 235/1);
  margin-bottom: 3rem;
}
.steps h3 {
  counter-increment: step;
}
.steps h3:before {
  content: counter(step);
  display: inline-block;
  position: absolute;
  margin-top: 3px;
  margin-left: -41px;
  width: 33px;
  height: 33px;
  text-align: center;
  text-indent: -1px;
  color: #999;
  border-radius: 100%;
  border: 4px solid #fff;
  background: #f3f3f3;
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
}
.dark .steps {
  border-color: #2e2e2e;
}
.dark .steps h3:before {
  color: #999;
  border: 4px solid rgba(17, 17, 17, var(--tw-bg-opacity));
  background: #2e2e2e;
}

.color-picker input::-webkit-outer-spin-button,
.color-picker input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
